<div class="card">
    <img src="/images/nike1.jpg" alt="Denim Jeans" style="width:100%">
    <h1 id="h"> <%=product.productname%></h1>
    <p id="p"class="price">$ <%=product.price%></p>
    <p id="d"> <%=product.details%></p>
    <label for="sizes"> size</label>
    <center><select id="sizes">
  <option value="6">6</option>
        <option value="7">7</option>
          <option value="8">8</option>
            <option value="9">9</option>
    </select></center>
    <p><button>Add to Cart</button></p>
  </div>
